<launch>
  <arg name="mav_name" default="$(optenv MAV_NAME)"/>

  <!-- mav_type: 230 for dragonfly, ddk -->
  <arg name="mav_type" default="ddk"/>

  <!-- board: sdf_tray, sdf_tray_45, sdf_pro -->
  <arg name="board" default="sdf_tray"/>

  <arg name="imu_1_used" default="false"/>

  <arg name="imu_is_root_tf" default="false"/>
  <arg name="odom_topic" default="quadrotor_ukf/control_odom_throttled"/>
  <arg name="odom_frame_id" default="odom"/>
  <arg name="world_frame_id" default="world"/>

  <arg name="rviz" default="false"/>
  <arg name="pub_odom_base_link" default="false"/>

  <group ns="$(arg mav_name)">

    <!--World to VIO odom TF publisher
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_odom_static_publisher" args="0 0 0 0 0 0 1 $(arg world_frame_id) $(arg odom_frame_id)" /> -->


    <!--IMU to base rotated TF publisher, eagle board uses IMU0, voxl uses IMU1-->
    <!-- TF that rotates the IMU to use ROS convention, x forward, y left, z up -->

    <!-- (working for eagle board)
    <node pkg="tf2_ros" type="static_transform_publisher" name="imu_rotated_static_publisher" args="0 0 0 1 0 0 0 imu imu_rotated_base" unless="$(arg imu_1_used)"/> -->
    <!-- quaternion issue?
    <node pkg="tf2_ros" type="static_transform_publisher" name="imu_rotated_static_publisher" args="0 0 0 0 0 -0.707 0.707 imu imu_rotated_base" if="$(arg imu_1_used)"/> -->
    <!-- assumes 230
    <node pkg="tf2_ros" type="static_transform_publisher" name="fb_static_publisher" args="0.01353 0.0 -0.01690 0 0 0 base_link flight_board_center" if="$(arg imu_1_used)"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="imu1_static_publisher" args="0.03815 0.0152 -0.00314 -1.570796327 0 0 flight_board_center imu" if="$(arg imu_1_used)"/> -->


    <node pkg="tf2_ros" type="static_transform_publisher" name="imu_rotated_static_publisher" args="0 0 0 0 -3.142 0 $(arg mav_name)/imu $(arg mav_name)/imu_rotated_base" unless="$(arg imu_1_used)"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="imu_rotated_static_publisher" args="0 0 0 1.570796327 0 0 $(arg mav_name)/imu $(arg mav_name)/imu_rotated_base" if="$(arg imu_1_used)"/>


    <node name="base_link_imu_static_publisher" pkg="qflight_descriptions"
          type="base_link_imu_static_publisher.py" output="screen">
      <param name="board_mounts" value="$(find qflight_descriptions)/urdf/board_mounts.yaml"/>
      <param name="imu_is_root_tf" type="bool" value="$(arg imu_is_root_tf)"/>
      <param name="board" value="$(arg board)"/>
      <param name="vehicle" value="$(arg mav_type)"/>
      <param name="mav_name" value="$(arg mav_name)"/>
    </node>

    <!--VIO odom to base_link TF publisher -->
    <node pkg="snavquad_interface" type="tf_pub" name="odom_tf_pub" if="$(arg pub_odom_base_link)">
      <param name="odom_frame_id" value="$(arg mav_name)/$(arg odom_frame_id)"/>
      <param name="base_frame_id" value="$(arg mav_name)/base_link"/>
      <remap from="~odom" to="$(arg odom_topic)"/>
    </node>

    <!--<param name="board_description" textfile="$(find qflight_descriptions)/urdf/$(arg board).urdf"/> -->
    <param name="board_description" command="$(find xacro)/xacro --inorder '$(find qflight_descriptions)/urdf/$(arg board).urdf.xacro' prefix:=$(arg mav_name)"/>
    <node name="board_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <remap from="robot_description" to="board_description"/>
    </node>

    <!--<param name="vehicle_description" textfile="$(find qflight_descriptions)/urdf/$(arg mav_type).urdf"/> -->
    <param name="vehicle_description" command="$(find xacro)/xacro --inorder '$(find qflight_descriptions)/urdf/$(arg mav_type).urdf.xacro' prefix:=$(arg mav_name)"/>
    <node name="vehicle_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <remap from="robot_description" to="vehicle_description"/>
      <param name="tf_prefix" value="$(arg mav_name)"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" output="screen" if="$(arg rviz)"
          args="-d $(find qflight_descriptions)/launch/qflight_urdf.rviz"/>

  </group>
</launch>
